<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.katalogfilm_4">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        tools:targetApi="m"
        android:usesCleartextTraffic="true"
        android:name=".MovieCatalogue"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainBotNav"
            android:label="@string/title_activity_main_bot_nav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.katalogfilm_4.ui.movie.detailmovie.DetailMovieActivity"/>
        <activity android:name=".ui.tvshow.detailtvshow.DetailTvShowActivity"/>
    </application>

</manifest>